body {
  background-color: lightblue;
}
.wrap {
  width: 300rem;
  margin: 0 auto;
}
html {
  text-align: center;
}
.active {
  color: white;
}
.lest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem auto 0 auto;
}
.lest .item {
  width: 30rem;
  height: 10rem;
  cursor: pointer;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.list .box {
  width: 370rem;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 20rem;
  transition: all 0.5s;
}
.list .box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.list .box ul .f-bg {
  background-image: url(../img/1.png);
  background-size: cover;
  background-position: center;
}
.list .box ul .er-bg {
  background-image: url(../img/2.png);
  background-size: cover;
  background-position: center;
}
.list .box ul .hua-bg {
  background-image: url("../img/3.png");
  background-size: cover;
  background-position: center;
}
.list .box ul .jiu-bg {
  background-image: url("../img/4.png");
  background-size: cover;
  background-position: center;
}
.list .box ul .fang-bg {
  background-image: url("../img/5.png");
  background-size: cover;
  background-position: center;
}
.list .box ul .shou-bg {
  background-image: url("../img/6.png");
  background-size: cover;
  background-position: center;
}
.list .box ul .dao-bg {
  background-image: url("../img/7.png");
  background-size: cover;
  background-position: center;
}
.list .box ul .llq360 {
  background-image: url("../img/8.png");
  background-size: cover;
  background-position: center;
}
.list .box ul li {
  margin: auto;
  margin-top: 5rem;
  position: relative;
}
.list .box ul li a {
  display: block;
  width: 150rem;
  height: 80rem;
}
.list .box ul li a .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 152, 152, 0.6);
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.5s;
  text-align: center;
}
.list .box ul li a .mask .titl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: white;
  width: auto;
  height: auto;
}
.list .box ul li a .mask .titl h4 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
.list .box ul li:hover .mask {
  transform: scale(1);
}
