body {
  background-color: lightblue;
}
.wrap {
  width: 300rem;
  margin: 0 auto;
}
html {
  text-align: center;
}
.active {
  color: white;
}
.lest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem auto 0 auto;
}
.lest .item {
  width: 30rem;
  height: 10rem;
  cursor: pointer;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.list .box {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 20rem;
  transition: all 0.5s;
}
.list .box ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .box ul li {
  margin-right: 10rem;
}
.list .box ul li a {
  display: block;
  width: 80rem;
  height: 80rem;
}
.list .box ul li a img {
  width: 50rem;
  height: 50rem;
  background-size: cover;
  background-position: center;
}
