body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.jing {
    width: 200px;
    height: 200px;

    ul {
        li {
            height: 20px;

            a {
                color: black;
            }
        }
    }
}

.css3 {
    width: 200px;
    height: 200px;

    ul {
        li {
            width: 50px;
            height: 20px;

            a {
                color: black;
            }
        }
    }
}