* {
  font-family: "Poppins";
}
body {
  min-width: min-content;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
nav.navtop {
  background-color: #6f7271;
  padding: 10px 0;
  position: relative;
}
nav.navtop .logo {
  float: left;
  line-height: 48px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
nav.navtop .logo span {
  font-weight: 100;
}
nav.navtop .right .menu {
  padding: 10px 0;
  margin-left: 200px;
}
nav.navtop .right .menu li {
  float: left;
  width: 100px;
  height: 20px;
  margin-right: 5px;
}
nav.navtop .right .menu li a {
  text-decoration: none;
  color: white;
}
nav.navtop .right .menu li a:hover {
  color: #f54748;
}
nav.navtop .right .menu li:first-child a {
  color: #f54748;
}
nav.navtop .right .search-area {
  margin-right: 100px;
}
nav.navtop .right .search-area .search {
  display: block;
  line-height: 48px;
}
nav.navtop .right .search-area .search input {
  height: 32px;
  padding-left: 15px;
  border-radius: 32px 0 0 32px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
nav.navtop .right .search-area .search .last {
  box-sizing: border-box;
}
nav.navtop .right .search-area .search .last i {
  background-color: #f54748;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  border-radius: 0 32px 32px 0;
  color: white;
  cursor: pointer;
  border: none;
}
nav.navtop .right .search-area .search .last i:hover {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  background-color: #f48924;
  border-radius: 0 32px 32px 0;
  transition: all 1.8s;
}
nav.navtop .right .mode {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 50px;
}
nav.navtop .right .mode i {
  color: white;
  font-size: 18px;
}
.banner {
  background-image: url(image/b3.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0;
}
.banner .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 9, 9, 0.6);
  z-index: -1;
}
.banner .left {
  background-image: url(image/right.png);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 400px;
  left: 30px;
  z-index: 1;
}
.banner .right {
  background-image: url(image/left.png);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 400px;
  right: 30px;
  z-index: 1;
}
.banner .card {
  width: 70%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.banner .card h2 {
  font-size: 65px;
  font-weight: bold;
  color: white;
}
.banner .card span {
  font-weight: 10;
  color: white;
}
.banner .card button {
  border: none;
  background-color: #6f7271;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
}
.banner .card .cal {
  background-color: #f54748;
  cursor: pointer;
}
.banner .card .cal:hover {
  background-color: #f48924;
  transition-duration: 0.5s;
}
.mate {
  margin-top: 50px;
}
.mate .wrap .wordtwo {
  width: 550px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.mate .wrap .wordtwo h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: bold;
}
.mate .wrap .wordtwo h2 span {
  font-weight: 100;
}
.mate .wrap .pic .one {
  width: 240px;
  height: 310px;
  float: left;
  margin: 0 30px;
  position: relative;
}
.mate .wrap .pic .one img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.mate .wrap .pic .one .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 152, 152, 0.6);
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.5s;
}
.mate .wrap .pic .one .mask .text {
  box-sizing: border-box;
  color: white;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mate .wrap .pic .one .mask .text h4 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
.mate .wrap .pic .one .mask .text p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.mate .wrap .pic .one:hover .mask {
  transform: scale(1);
}
.mate .wrap .pic .one .ico i {
  color: white;
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 1;
  padding: 10px;
  background-color: #f54748;
  overflow: hidden;
  border-radius: 0 0 0 10px;
  transition: all 0.5s;
  transform: scale(1);
}
.mate .wrap .pic .one:hover .ico i {
  transform: scale(0);
}
.mate .wrap .lane {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
}
.mate .wrap .lane button {
  background-color: #f54748;
  font-size: 16px;
  padding: 16px 42px;
  border: none;
  color: white;
  border-radius: 110px;
  font-weight: bold;
  cursor: pointer;
}
.mate .wrap .lane button:hover {
  background-color: #f48924;
  font-size: 16px;
  padding: 16px 42px;
  transition: all 1s;
}
.smean {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: rgba(250, 250, 251, 0.712);
  margin-bottom: 150px;
}
.smean .wrap .pem {
  width: 610px;
  height: 200px;
  margin: 0 auto;
}
.smean .wrap .pem h3 {
  font-size: 44px;
  line-height: 50px;
  font-weight: bold;
  color: black;
  padding-top: 100px;
  margin-bottom: 100px;
}
.smean .wrap .pem h3 span {
  font-weight: 1;
}
.smean .wrap .end .out li {
  box-sizing: border-box;
  padding: 50px 30px;
  float: left;
  width: 360px;
  height: 400px;
  margin-right: 40px;
  background-color: rgba(250, 250, 250, 0.5);
  position: relative;
  box-shadow: 0px 0px 10px gray;
}
.smean .wrap .end .out li .ico i {
  font-size: 40px;
  color: #f54748;
}
.smean .wrap .end .out li .number {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 60px;
  line-height: 60px;
}
.smean .wrap .end .out li h4 {
  color: #eeeeee;
}
.smean .wrap .end .out li h4 a {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-top: 45px;
  margin-bottom: 15px;
  text-decoration: none;
  display: block;
}
.smean .wrap .end .out li h4:hover a {
  color: #f54748;
}
.smean .wrap .end .out li p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.2px;
}
.smean .wrap .end .out li .read {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: inline-block;
  width: 90px;
  border-bottom: 2px solid red;
}
.smean .wrap .end .out li:hover h4 {
  color: gray;
}
.loce {
  margin-top: 50px;
  margin-bottom: 50px;
}
.loce .wrap .pont {
  width: auto;
  height: auto;
}
.loce .wrap .pont .l {
  box-sizing: border-box;
  width: 600px;
  height: 300px;
  margin-right: 10px;
  float: left;
}
.loce .wrap .pont .l h3 {
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 30px;
  font-weight: bold;
}
.loce .wrap .pont .l h3 span {
  font-weight: 100;
}
.loce .wrap .pont .l p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  color: #363636;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.loce .wrap .pont .l .cion button {
  padding: 20px 30px;
  background-color: #f54748;
  border: none;
  border-radius: 50px;
}
.loce .wrap .pont .l .cion button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.loce .wrap .pont .l .cion:hover button {
  background-color: #f48924;
  font-size: 16px;
  padding: 20px 30px;
  transition: all 1s;
}
.loce .wrap .pont .r {
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  float: right;
  box-shadow: 0px 0px 0px 10px gray;
  position: relative;
}
.loce .wrap .pont .r img {
  position: absolute;
  right: 40px;
  top: 10px;
}
.mone {
  width: 100%;
  height: 450px;
  margin: 0;
  margin-top: 100px;
  position: relative;
}
.mone img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.mone .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 9, 9, 0.6);
  z-index: 1;
}
.mone .le {
  float: left;
  width: 600px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 2;
}
.mone .le .title {
  font-size: 38px;
  line-height: 48px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.mone .le .title span {
  font-weight: 100;
}
.mone .le .mass {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
.mone .ri {
  position: absolute;
  top: 250px;
  right: 200px;
  z-index: 2;
  float: right;
}
.mone .ri a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  background-color: #f54748;
  border-radius: 50px;
}
.mone .ri:hover a {
  background-color: #f48924;
  font-size: 16px;
  padding: 20px 30px;
  transition: all 1s;
}
.mess .fl {
  width: 500px;
  height: 300px;
  padding: 80px 100px 0px 100px;
}
.mess .fl .left .title {
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px;
}
.mess .fl .left .title span {
  font-weight: 100;
}
.mess .fl .left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.mess .fl .left a {
  display: block;
  text-decoration: none;
  width: 90px;
  height: 20px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #f54748;
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 30px;
}
.mess .fr {
  width: 759px;
  height: 400px;
}
.mess .fr img {
  width: 100%;
  height: 400px;
}
.danz .on-1,
.danz .on-2,
.danz .on-3,
.danz .on-4 {
  box-sizing: border-box;
  float: left;
  width: 379.8px;
  height: 400px;
}
.danz .on-1 img,
.danz .on-2 img,
.danz .on-3 img,
.danz .on-4 img {
  width: 379.8px;
  height: 400px;
  object-fit: cover;
}
.danz .on-2,
.danz .on-4 {
  margin-top: 20px;
  padding: 50px 30px;
  position: relative;
}
.danz .on-2 i,
.danz .on-4 i {
  font-size: 36px;
  position: absolute;
  top: 100px;
  left: 170px;
  color: #f54748;
}
.danz .on-2 .text,
.danz .on-4 .text {
  display: block;
  margin: 0 auto;
  width: 140px;
  margin-top: 100px;
}
.danz .on-2 .text a,
.danz .on-4 .text a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.danz .on-2 .para,
.danz .on-4 .para {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
}
.ance {
  margin-top: 50px;
  margin-bottom: 150px;
  background-color: #f8f8f8;
}
.ance .wrap .once {
  margin-bottom: 20px;
}
.ance .wrap .once .logo {
  width: 400px;
  font-size: 46px;
  font-weight: bold;
  margin: 0 auto;
}
.ance .wrap .once .logo span {
  font-weight: 100;
}
.ance .wrap .etn {
  box-sizing: border-box;
  width: 375px;
  height: 600px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  float: left;
  margin: 0 12px;
  overflow: hidden;
}
.ance .wrap .etn .pic {
  box-sizing: border-box;
  overflow: hidden;
}
.ance .wrap .etn .pic img {
  width: 398px;
  border-radius: 30px 30px 0px 0px;
  margin: 1px;
}
.ance .wrap .etn .mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 52%;
  background-color: rgba(129, 152, 152, 0.6);
  border-radius: 30px 30px 0px 0px;
  transform: scale(0);
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
}
.ance .wrap .etn:hover .mask {
  transform: scale(1);
}
.ance .wrap .etn:hover img {
  transform: scale(1.2);
  transition: all 0.5s;
  border-radius: 30px 30px 0px 0px;
}
.ance .wrap .etn .ico {
  position: absolute;
  top: 120px;
  left: 180px;
  color: white;
  font-size: 30px;
  z-index: 3;
  transform: scale(0);
  transition: all 0.5s;
}
.ance .wrap .etn:hover .ico {
  transform: scale(1);
}
.ance .wrap .etn .cum .fl {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
.ance .wrap .etn .cum .fl a {
  text-decoration: none;
  color: black;
}
.ance .wrap .etn .cum .fl a i {
  color: #f54748;
}
.ance .wrap .etn .cum .fr {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.ance .wrap .etn .cum .fr .date {
  font-size: 16px;
}
.ance .wrap .etn .cum .fr .date i {
  color: #f54748;
}
.ance .wrap .etn .only {
  padding: 20px;
}
.ance .wrap .etn .only h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.ance .wrap .etn .only h4 .blog {
  text-decoration: none;
  width: 175px;
  color: black;
}
.ance .wrap .etn .only h4:hover a {
  color: #f54748;
}
.ance .wrap .etn .only p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #363636;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
.ance .wrap .etn .only .read {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 90px;
  border-bottom: 2px solid red;
}
.lest {
  position: relative;
  width: 100%;
  height: 521px;
}
.lest img {
  object-fit: cover;
  width: 100%;
  height: 521px;
}
.lest .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 9, 9, 0.6);
  z-index: 1;
}
.lest .wrap .footer .col {
  width: 350px;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 170px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}
.lest .wrap .footer .col .word {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  display: block;
}
.lest .wrap .footer .col .word span {
  font-weight: 100;
}
.lest .wrap .footer .col p {
  color: white;
  opacity: 0.8;
  font-size: 14px;
}
.lest .wrap .footer .col .mt .social li {
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}
.lest .wrap .footer .col .mt .social li a {
  color: white;
  font-size: 14px;
}
.lest .wrap .footer .col .mt .social li a:hover i {
  color: #f54748;
}
.lest .wrap .footer .column {
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 520px;
}
.lest .wrap .footer .column .gad {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}
.lest .wrap .footer .column .gd li {
  margin: 10px 0;
}
.lest .wrap .footer .column .gd li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  opacity: 0.8;
}
.lest .wrap .footer .column .gd li:hover a {
  color: #f54748;
}
.lest .wrap .footer .aol {
  width: 250px;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 720px;
}
.lest .wrap .footer .aol .gad {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}
.lest .wrap .footer .aol .gd li {
  margin: 10px 0;
  color: white;
  opacity: 0.8;
}
.lest .wrap .footer .aol .gd li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  opacity: 0.8;
}
.lest .wrap .footer .aol .gd li:hover a {
  color: #f54748;
}
.lest .wrap .footer .lg {
  width: 400px;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 950px;
}
.lest .wrap .footer .lg .gad {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}
.lest .wrap .footer .lg .gd li {
  width: 300px;
  margin: 10px 0;
  color: white;
  font-size: 15px;
  opacity: 0.8;
}
.lest .wrap .footer .lg .gd li span {
  float: right;
  display: block;
  margin-left: 50px;
}
.lest .wrap .won {
  width: 1200px;
  height: 10px;
  border-top: 1px solid white;
  position: absolute;
  bottom: 10px;
  right: 120px;
  margin-bottom: 50px;
  text-align: center;
}
.lest .wrap .won p {
  color: white;
  z-index: 3;
  position: absolute;
  left: 380px;
  opacity: 0.8;
}
.lest .wrap .won p a {
  text-decoration: none;
  color: white;
}
