body {
  margin: 0;
  padding: o;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.box-h {
  padding: 16px;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.header {
  background-color: #b2b2b2;
  height: 800px;
  overflow: hidden;
}
.header .head {
  position: relative;
  z-index: 3;
}
.header .head .box-h .logo {
  width: 200px;
  height: 70px;
  float: left;
  text-align: center;
}
.header .head .box-h .logo a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.header .head .box-h .logo a span {
  color: red;
}
.header .head .r-box {
  width: 600px;
  float: right;
}
.header .head .r-box .box-l,
.header .head .r-box .box-r {
  width: 280px;
  height: 50px;
  margin: 10px 0;
}
.header .head .r-box .box-l span,
.header .head .r-box .box-r span {
  font-size: 14px;
  color: white;
}
.header .head .r-box .box-l {
  float: left;
}
.header .head .r-box .box-l .pi {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 5px;
}
.header .head .r-box .box-l .pi i {
  font-size: 30px;
  color: #fdb62f;
}
.header .head .r-box .box-r {
  float: right;
}
.header .head .r-box .box-r .pi {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.header .head .r-box .box-r .pi i {
  font-size: 30px;
  color: #fd4d40;
}
.header .head .box-c .wrap .box-bu {
  box-sizing: border-box;
  height: 80px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 100px;
  z-index: 2;
}
.header .head .box-c .wrap .box-bu .bu-l {
  float: left;
}
.header .head .box-c .wrap .box-bu .bu-l .active li {
  float: left;
}
.header .head .box-c .wrap .box-bu .bu-l .active li a {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: black;
  font-size: 14px;
}
.header .head .box-c .wrap .box-bu .bu-l .active .a a {
  color: #fd4d40;
}
.header .head .box-c .wrap .box-bu .bu-r {
  width: 200px;
  float: right;
}
.header .head .box-c .wrap .box-bu .bu-r a {
  display: inline-block;
  padding: 20px;
}
.header .head .box-c .wrap .box-bu .bu-r a i {
  font-size: 20px;
}
.header .head .box-c .wrap .box-bu .bu-r a:nth-child(1) {
  color: #16c3b0;
}
.header .head .box-c .wrap .box-bu .bu-r a:nth-child(2) {
  color: #71bc42;
}
.header .head .box-c .wrap .box-bu .bu-r a:nth-child(3) {
  color: #fdb62f;
}
.header .box-b .wrap .b-l {
  float: left;
  width: 475px;
  height: 351px;
  margin-top: 64px;
  padding-top: 48px;
  padding-left: 15px;
  padding-right: 15px;
}
.header .box-b .wrap .b-l .len {
  line-height: 15px;
  font-size: 14px;
  color: #fd4d40;
}
.header .box-b .wrap .b-l h1 {
  color: #fff;
  line-height: 1;
  font-size: 46px;
  margin-bottom: 16px;
}
.header .box-b .wrap .b-l p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}
.header .box-b .wrap .b-l .bu {
  margin-top: 60px;
  margin-bottom: 16px;
}
.header .box-b .wrap .b-l .bu a {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 24px 20px;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.header .box-b .wrap .b-l .bu a:hover {
  background-color: #c82333;
}
.header .box-b .wrap .pic {
  overflow: hidden;
  position: absolute;
  height: 816px;
  top: -16px;
  right: 210px;
  z-index: 1;
}
.header .box-b .wrap .pic img {
  width: 540px;
  height: 825px;
  overflow: hidden;
}
.main .wrap .main-h {
  background-color: #fff;
  padding: 112px 0;
  height: 150px;
}
.main .wrap .main-h .fl,
.main .wrap .main-h .fc,
.main .wrap .main-h .fr {
  box-sizing: border-box;
  width: 350px;
  height: 260px;
  float: left;
  margin: 0 25px;
  padding: 40px;
  text-align: center;
}
.main .wrap .main-h .fl {
  position: relative;
  background-color: #fd4d40;
}
.main .wrap .main-h .fl .icon i {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: -27px;
  left: 126px;
  background-color: #fd4d40;
  padding: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.main .wrap .main-h .fl h2 {
  margin-top: 50px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
}
.main .wrap .main-h .fl p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7;
}
.main .wrap .main-h .fc {
  position: relative;
  background-color: #fdb62f;
}
.main .wrap .main-h .fc .icon i {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: -27px;
  left: 126px;
  background-color: #fdb62f;
  padding: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.main .wrap .main-h .fc h2 {
  margin-top: 50px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
}
.main .wrap .main-h .fc p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7;
}
.main .wrap .main-h .fr {
  position: relative;
  background-color: #16c3b0;
}
.main .wrap .main-h .fr .icon i {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: -27px;
  left: 126px;
  background-color: #16c3b0;
  padding: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.main .wrap .main-h .fr h2 {
  margin-top: 50px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
}
.main .wrap .main-h .fr p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7;
}
.main .main-c {
  background-color: #f6f5f5;
  margin-top: 100px;
  padding: 112px 0;
}
.main .main-c .wrap .c-l {
  float: left;
  width: 570px;
  height: 460px;
  padding: 0 15px;
}
.main .main-c .wrap .c-l img {
  width: 540px;
  height: 460px;
}
.main .main-c .wrap .c-r {
  width: 425px;
  height: 460px;
  float: right;
  padding-left: 45px;
  padding-right: 15px;
  margin-right: 60px;
}
.main .main-c .wrap .c-r .col .bon {
  color: #fd4d40;
  font-size: 1.25rem;
}
.main .main-c .wrap .c-r .col h3 {
  color: black;
  font-size: 1.75rem;
  margin-bottom: 8px;
}
.main .main-c .wrap .c-r .col p {
  color: #364d59;
  line-height: 1.7;
}
.main .main-c .wrap .c-r .col .mt {
  margin-top: 60px;
  margin-bottom: 16px;
}
.main .main-c .wrap .c-r .col .mt a {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 24px 20px;
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.main .main-c .wrap .c-r .col .mt a:hover {
  background-color: #e0a800;
}
.main .main-d {
  margin-top: 100px;
  padding: 112px 0;
  background-color: #17a2b8;
}
.main .main-d .wrap .cel .cel-h {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.main .main-d .wrap .cel .cel-h span {
  color: #fd4d40;
  font-size: 20px;
  margin-bottom: 8px;
}
.main .main-d .wrap .cel .cel-h h2 {
  color: white;
  font-size: 2rem;
}
.main .main-d .wrap .cel .led {
  box-sizing: border-box;
  float: left;
  width: 350px;
  height: 450px;
  background-color: white;
  margin: 0 25px;
  padding: 40px;
  text-align: center;
}
.main .main-d .wrap .cel .led .led-img {
  width: 80px;
  height: 80px;
  margin-left: 95px;
  margin-bottom: 30px;
}
.main .main-d .wrap .cel .led .led-img img {
  width: 80px;
  height: 80px;
}
.main .main-d .wrap .cel .led h3 {
  color: #16c3b0;
  font-size: 18px;
  margin-bottom: 30px;
}
.main .main-d .wrap .cel .led p {
  color: #777;
  line-height: 1.7;
  font-size: 14px;
}
.main .main-d .wrap .cel .led .ont {
  margin-top: 55px;
}
.main .main-d .wrap .cel .led .ont a {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 10px 20px;
  font-size: 14px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-transform: uppercase;
}
.main .main-d .wrap .cel .led .ont a:hover {
  background-color: #c82333;
}
.main .main-d .wrap .cel .led .ont-c {
  margin-top: 55px;
}
.main .main-d .wrap .cel .led .ont-c a {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 10px 20px;
  font-size: 14px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.main .main-d .wrap .cel .led .ont-c a:hover {
  background-color: #e0a800;
}
.main .main-d .wrap .cel .led .ont-r {
  margin-top: 55px;
}
.main .main-d .wrap .cel .led .ont-r a {
  color: #000;
  background-color: #71bc42;
  border-color: #71bc42;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 10px 20px;
  font-size: 14px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.main .main-d .wrap .cel .led .ont-r a:hover {
  background-color: #60a038;
  color: white;
}
.main .main-e {
  padding: 112px 0;
}
.main .main-e .wrap .cone {
  height: 370px;
}
.main .main-e .wrap .cone .cod {
  float: left;
  width: 290px;
  height: 407px;
}
.main .main-e .wrap .cone .cod .bon {
  color: #fd4d40;
  font-size: 1.25rem;
}
.main .main-e .wrap .cone .cod h2 {
  color: black;
  font-size: 1.75rem;
  margin-bottom: 8px;
}
.main .main-e .wrap .cone .cod p {
  color: #364d59;
  line-height: 1.7;
  font-size: 15px;
}
.main .main-e .wrap .cone .cop {
  float: left;
  width: 350px;
  height: 390px;
  margin-left: 90px;
}
.main .main-e .wrap .cone .cop .teal .bot {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  background-color: #16c3b0;
}
.main .main-e .wrap .cone .cop .teal .bot span {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 26px;
  color: #364d59;
}
.main .main-e .wrap .cone .cop .teal .bot::before {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid #fff;
  content: "";
}
.main .main-e .wrap .cone .cop .teal h3 {
  margin-bottom: 30px;
  font-weight: 400;
  color: #364d59;
  font-size: 20px;
}
.main .main-e .wrap .cone .cop .teal ul li {
  position: relative;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #364d59;
}
.main .main-e .wrap .cone .cop .teal ul li i {
  color: #16c3b0;
  margin-right: 10px;
}
.main .main-e .wrap .cone .cop .teal .ont {
  margin-top: 55px;
}
.main .main-e .wrap .cone .cop .teal .ont a {
  color: #000;
  background-color: #16c3b0;
  border-color: #16c3b0;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 12px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.main .main-e .wrap .cone .coh {
  float: left;
  width: 350px;
  height: 390px;
  margin-left: 90px;
}
.main .main-e .wrap .cone .coh .teal .bon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  background-color: #dc3545;
}
.main .main-e .wrap .cone .coh .teal .bon span {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 26px;
  color: #364d59;
}
.main .main-e .wrap .cone .coh .teal .bon::before {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid #fff;
  content: "";
}
.main .main-e .wrap .cone .coh .teal h3 {
  margin-bottom: 30px;
  font-weight: 400;
  color: #364d59;
  font-size: 20px;
}
.main .main-e .wrap .cone .coh .teal ul li {
  position: relative;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #364d59;
}
.main .main-e .wrap .cone .coh .teal ul li i {
  color: #dc3545;
  margin-right: 10px;
}
.main .main-e .wrap .cone .coh .teal .ont {
  margin-top: 55px;
}
.main .main-e .wrap .cone .coh .teal .ont a {
  color: #fff;
  background-color: #fd4d40;
  border-color: #fd4d40;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 12px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.main .main-f {
  background-color: #f6f5f5;
  padding-top: 100px;
}
.main .main-f .wrap .ment-t {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}
.main .main-f .wrap .ment-t span {
  color: #fd4d40;
  font-size: 20px;
  margin-bottom: 8px;
}
.main .main-f .wrap .ment-t h3 {
  color: black;
  font-size: 1.75rem;
  margin-bottom: 8px;
}
.main .main-f .wrap .ment {
  width: 730px;
  height: 200px;
  padding: 30px;
  background-color: #fd4d40;
  margin: 0 auto;
  margin-top: 50px;
}
.main .main-f .wrap .ment .pic {
  float: left;
  width: 80px;
  height: 80px;
}
.main .main-f .wrap .ment .pic img {
  width: 80px;
  height: 80px;
}
.main .main-f .wrap .ment .text {
  float: left;
  width: 510px;
  height: 100px;
  margin-left: 48px;
  color: white;
}
.main .main-f .wrap .ment .text h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
.main .main-f .wrap .ment .text .po {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.main .main-f .wrap .ment .text p {
  font-size: 20px;
}
.main .main-f .wrap .dow {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
}
.main .main-f .wrap .dow .row .col {
  float: left;
  width: 150px;
  height: 200px;
  text-align: center;
}
.main .main-f .wrap .dow .row .col .text {
  display: block;
  margin-bottom: 10px;
  font-size: 32px;
  color: #16c3b0;
}
.main .main-f .wrap .dow .row .col span {
  color: #364d59;
  line-height: 1.7;
  font-size: 15px;
}
.main .main-f .wrap .dow .row .cov {
  float: left;
  width: 150px;
  height: 200px;
  text-align: center;
  margin-left: 60px;
}
.main .main-f .wrap .dow .row .cov .text {
  display: block;
  margin-bottom: 10px;
  font-size: 32px;
  color: #fdba55;
}
.main .main-f .wrap .dow .row .cov span {
  color: #364d59;
  line-height: 1.7;
  font-size: 15px;
}
.main .main-f .wrap .dow .row .cnk {
  float: left;
  width: 150px;
  height: 200px;
  text-align: center;
  margin-left: 60px;
}
.main .main-f .wrap .dow .row .cnk .text {
  display: block;
  margin-bottom: 10px;
  font-size: 32px;
  color: #71bc42;
}
.main .main-f .wrap .dow .row .cnk span {
  color: #364d59;
  line-height: 1.7;
  font-size: 15px;
}
.main .main-f .wrap .dow .row .cnp {
  float: left;
  width: 150px;
  height: 200px;
  text-align: center;
  margin-left: 60px;
}
.main .main-f .wrap .dow .row .cnp .text {
  display: block;
  margin-bottom: 10px;
  font-size: 32px;
  color: #dc3545;
}
.main .main-f .wrap .dow .row .cnp span {
  color: #364d59;
  line-height: 1.7;
  font-size: 15px;
}
.foot .f-box {
  box-sizing: border-box;
  height: 150px;
  padding: 48px 0;
  background-color: #ffc107;
}
.foot .f-box .box-l {
  float: left;
}
.foot .f-box .box-l h2 {
  color: white;
  font-size: 32px;
}
.foot .f-box .box-r {
  float: right;
  margin-top: 10px;
}
.foot .f-box .box-r a {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 16px 48px;
  font-size: 14px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.foot .f-box .box-r a:hover {
  background-color: #c82333;
}
.foot .b-box {
  box-sizing: border-box;
  height: 500px;
  padding: 112px 0;
  background-color: #343a40;
}
.foot .b-box .bent {
  height: 300px;
}
.foot .b-box .bent .col {
  float: left;
  width: 380px;
  height: 270px;
  margin-left: 50px;
  margin-right: 300px;
}
.foot .b-box .bent .col .f-en {
  color: #fd4d40;
  font-size: 18px;
  margin-bottom: 16px;
}
.foot .b-box .bent .col p {
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}
.foot .b-box .bent .col h2 {
  color: #fd4d40;
  font-size: 18px;
  margin-bottom: 24px;
}
.foot .b-box .bent .col .in .for {
  width: 220px;
  height: 40px;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.foot .b-box .bent .col .in .bne {
  color: white;
  text-transform: uppercase;
  height: 50px;
  padding: 10px 30px;
  background-color: #dc3545;
  border: none;
  border-radius: 50px;
}
.foot .b-box .bent .col .in .bne:hover {
  background-color: #c82333;
}
.foot .b-box .bent .fl {
  float: left;
  width: 220px;
  height: 240px;
}
.foot .b-box .bent .fl h2 {
  color: #fd4d40;
  font-size: 18px;
  margin-bottom: 24px;
}
.foot .b-box .bent .fl ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.foot .b-box .bent .fl ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
.foot .b-box .wrap .last {
  width: auto;
  height: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
.foot .b-box .wrap .last p {
  color: white;
}
.foot .b-box .wrap .last p a {
  color: white;
}
